    .particles-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
        z-index: 1;
    }

    .sphere {
        position: fixed;
        border-radius: 50%;
        background: radial-gradient(circle, #FF4081 0%, rgba(255, 64, 129, 0.6) 30%, transparent 70%);
        filter: blur(60px);
        opacity: 0.7;
        pointer-events: none;
    }

    .sphere-1 {
        width: 400px;
        height: 400px;
        top: 0;
        left: 0;
    }

    .sphere-2 {
        width: 500px;
        height: 500px;
        top: 0;
        left: 0;
    }

    .sphere-3 {
        width: 350px;
        height: 350px;
        top: 0;
        left: 0;
    }

    .particles-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    :host ::ng-deep .particle {
        position: absolute;
        //background: rgba(255, 255, 255, 0.6);
        background: var(--color5);
        opacity: 0.6;
        border-radius: 50%;
        pointer-events: none;
    }

    :host ::ng-deep .particle.dust {
        background: var(--color5);
        opacity: 0.9;
    }