.gradient-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.gradient-background {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg,
            rgba(88, 23, 45, 1) 0%,
            rgba(26, 25, 29, 1) 18%,
            rgba(26, 25, 29, 1) 65%,
            rgba(88, 23, 45, 1) 100%);
}

.particles-fixed-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    pointer-events: none;
    overflow: hidden;
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:host ::ng-deep .particle {
    position: absolute;
    background: var(--color5);
    opacity: 0.6;
    border-radius: 50%;
    pointer-events: none;
}

:host ::ng-deep .particle.dust {
    background: var(--color5);
    opacity: 0.9;
}