<section class="about-container">

  <h2 translate="app.HEADER.ABOUT-ME"></h2>
  <hr />

  <div class="timeline-wrap">
    <div class="timeline-line"></div>

    <div class="timeline-item" *ngFor="let item of descriptions" [ngClass]="'side-' + item.side" #timelineItem>
      <div class="tl-date-col">
        <div class="tl-node" translate="{{ item.title }}"></div>
      </div>
      <div class="tl-card">
        <span class="tl-card-date" *ngIf="item.showDateInCard" translate="{{ item.date }}"></span>
        <h3 translate="{{ item.title }}"></h3>
        <p translate="{{ item.description }}"></p>
      </div>
    </div>
  </div>

</section>