@import '../../../mixins';

.about-container {
  @include flex(flex, center, flex-start, column);
  width: 90%;
  height: fit-content;
  min-height: 60vh;
  gap: 40px;
  margin: 15vh 0;

  h1 {
    font-size: 50px;
    color: var(--color1);
    margin: 0;
  }

  hr {
    width: 70%;
    height: 2px;
    background-color: var(--color5);
    border: none;
  }

}

.about-content {
  @include flex(flex, center, center, row);
  width: 100%;
  height: 50vh;
  min-height: 350px;
}

.about-menu {
  @include flex(flex, center, space-evenly, column);
  width: 30%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  gap: 10px;

  .mat-button-toggle {
    @include flex(flex, center, center);
    width: 60%;
    height: 15%;
    border-radius: 5px;
    background-color: var(--color5);
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  .mat-button-toggle:active {
    background-color: var(--color3);
  }

}

.about-info {
  width: 70%;
  height: 100%;
  border: 2px solid var(--color5);
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;

  p {
    color: var(--color2);
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 900px) {
  .about-container {
    @include flex(flex, center, flex-start, column);
    width: 95%;
    gap: 20px;

  }

  .about-menu {

    .mat-button-toggle {
      width: 90%;
      font-size: 17px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .about-menu {

    .mat-button-toggle {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .about-info {
    padding: 15px;

    p {
      color: var(--color2);
      font-size: 15px;
      line-height: 20px;
    }
  }
}