<div class="about-container">
  <h1 >About me</h1>
  <hr />
  <div class="about-content">
    <mat-button-toggle-group class="about-menu" #group="matButtonToggleGroup" aria-selected="'today'">
      <mat-button-toggle value="'today'" [ngStyle]="setButtonColor('today')" (click)="setInfo('today')">
        <span>Today</span>
      </mat-button-toggle>
      <mat-button-toggle value="'lamansys'" [ngStyle]="setButtonColor('lamansys')" (click)="setInfo('lamansys')">
        <span>Lamansys</span>
      </mat-button-toggle>
      <mat-button-toggle value="'udemy'" [ngStyle]="setButtonColor('udemy')" (click)="setInfo('udemy')">
        <span>Udemy</span>
      </mat-button-toggle>
      <mat-button-toggle value="'acamica'" [ngStyle]="setButtonColor('acamica')" (click)="setInfo('acamica')">
        <span>Acamica</span>
      </mat-button-toggle>
      <mat-button-toggle value="'utnba'" [ngStyle]="setButtonColor('utnba')" (click)="setInfo('utnba')">
        <span>UTNBA</span>
      </mat-button-toggle>
      <mat-button-toggle value="'before'" [ngStyle]="setButtonColor('before')" (click)="setInfo('before')">
        <span>Before coding</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <diV class="about-info" [ngSwitch]="info">
      <p *ngSwitchCase="'lamansys'">{{list.lamansys.story}}</p>
      <p *ngSwitchCase="'udemy'">{{list.udemy.story}}</p>
      <p *ngSwitchCase="'acamica'">{{list.acamica.story}}</p>
      <p *ngSwitchCase="'utnba'">{{list.utnba.story}}</p>
      <p *ngSwitchCase="'before'">{{list.before.story}}</p>
      <p *ngSwitchDefault>{{list.today.story}}</p>
    </diV>
  </div>
</div>
