<section class="about-container">

  <h2 translate="app.HEADER.ABOUT-ME"></h2>
  <hr />
  <div class="about-content">

    <mat-button-toggle-group class="about-menu" #group="matButtonToggleGroup" aria-selected="'today'"
      [hideSingleSelectionIndicator]="true">

      <ng-template ngFor let-item [ngForOf]="descriptions" let-i="index">
        <mat-button-toggle value="item.keyValue" (click)="setInfo(item.keyValue || '')">
          <p [ngStyle]="setButtonColor(item.keyValue || '')" translate="{{item.title}}"></p>
        </mat-button-toggle>
      </ng-template>
    </mat-button-toggle-group>

    <diV class="about-info" [ngSwitch]="info">
      <ng-template ngFor let-item [ngForOf]="descriptions" let-i="index">
        <p *ngSwitchCase="item.keyValue" translate="{{item.description}}"></p>
      </ng-template>
      <p *ngSwitchDefault translate="app.ABOUT.TODAY.TITLE"></p>
    </diV>

  </div>
</section>