@import '../../../mixins';

.socialSideNav-container {
  @include flex(flex, center, space-evenly, column);
  position: fixed;
  left: 0;
  bottom: 25%;
  z-index: 100;
  gap: 2px;

  .menu {
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease-in-out;
  }

  button {
    height: 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}

.socialSideNav-molecule-container {
  overflow: hidden;
  width: 40px;
  height: 150px;
  background-color: transparent;
}

.socialSideNav-molecule {
  @include flex(flex, center, space-evenly, column);
  width: 40px;
  height: 150px;
  background-color: var(--color5);
  border-radius: 0 3px 3px 0;

  img {
    height: 30px;

  }

  img:hover {
    height: 32px;
  }

  mat-icon {
    @include flex(flex, center, center);
    font-weight: 600;
    transition: all 0.5s ease-in-out;
  }
}