<mat-card class='home-container'>
  <mat-card-content class="home-title">
    <h1>Lorenzo Pachioli</h1>
    <h2 color="accent">Front End Developer</h2>
    <hr />
    <p class='summerice'> I'm a passionate Front End Developer with +2 years of professional experience, focused on building efficient, scalable, and accessible web applications. I thrive in collaborative environments and am constantly working to improve both my technical and interpersonal skills.
    </p>
    <button mat-raised-button color="primary" class="contact-btn" (click)="scroll('contact')">
      Contact me
    </button>
  </mat-card-content>
  <mat-card-content class="home-img">
    <img src="../../../assets/img/perfil.jpg" alt="" /> 
  </mat-card-content>
</mat-card>




<div class="continue">
  <button  (click)="scroll('skills')">
    <mat-icon color="primary">arrow_downward</mat-icon>
  </button>
</div>
