<mat-card class='home-container'>
  <mat-card-content class="home-title">
    <h1>Lorenzo Pachioli</h1>
    <h2 color="accent">Software Developer</h2>
    <hr />
    <p class='summerice'> I'm starting this new path of becoming a software developer
          and aiming for a place that allows me to put in practice the 
          knowledge acquired studying and lead me to keep growing and
          gaining new skills.I have not formal experience working on software development yet, but I'm looking
          forward to start making it. In the portfolio area you can find some projects that shows my 
          capabilities.
    </p>
    <button mat-raised-button color="primary" class="contact-btn" (click)="scroll('contact')">
      Contact me
    </button>
  </mat-card-content>
  <mat-card-content class="home-img">
    <img src="../../../assets/img/perfil.jpg" alt="" /> 
  </mat-card-content>
</mat-card>




<div class="continue">
  <button  (click)="scroll('skills')">
    <mat-icon color="primary">arrow_downward</mat-icon>
  </button>
</div>
