@use '../../../mixins' as *;

.portfolio-grid-container {
  @include flex(flex, center, center, row);
  width: 100%;

  mat-grid-list {
    width: 100%;
    height: 100%;
  }

  mat-grid-tile {
    @include flex(flex, center, center);
    border-radius: 2px;
    font-size: 30px;
    overflow: hidden;

    .screenshot {
      z-index: 2;
      transform: translateY(1);
      transform-origin: top;
      transition: all 0.7s ease-in-out;
      object-fit: cover;
    }

    .no-img {
      @include flex(flex, center, center);
      width: 100%;
      height: 100%;
      background-color: var(--color3);
      color: white;
    }
  }

  mat-grid-tile:hover {

    .screenshot {
      transform: translateY(100%);
    }

  }

  .screenshot {
    width: 100%;
    height: 100%;
  }

}

.tile-title {
  @include flex(flex, center, center, column);
  z-index: 1;
  position: absolute;
  text-align: center;
  cursor: pointer;


  h2 {
    color: white;
    font-size: 30px;
    margin: 0;
  }


  hr {
    width: 100%;
    height: 2px;
    border: none;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
  }
}

.tile-title:hover {

  h2 {
    color: var(--color2);
  }

  hr {
    transform: scaleX(1);
  }

}