<button mat-icon-button class="menu-mobile-trigger" (click)="toggleMenu()" [class.active]="isOpen">
  <div class="icon-wrapper">
    <mat-icon class="icon-vert">more_vert</mat-icon>
    <mat-icon class="icon-close">close</mat-icon>
  </div>
</button>

<div #drawer class="mobile-drawer glass-card" [class.open]="isOpen">
  <div class="drawer-content">
    <div class="buttons-container">
      <button #homeBtn mat-button (click)="scroll('home')">
        <span>{{ 'app.HEADER.HOME' | translate }}</span>
      </button>
      <button #skillsBtn mat-button (click)="scroll('skills')">
        <span>{{ 'app.HEADER.SKILLS' | translate }}</span>
      </button>
      <button #portfolioBtn mat-button (click)="scroll('portfolio')">
        <span>{{ 'app.HEADER.PORTFOLIO' | translate }}</span>
      </button>
      <button #aboutBtn mat-button (click)="scroll('about')">
        <span>{{ 'app.HEADER.ABOUT-ME' | translate }}</span>
      </button>
      <button #contactBtn mat-button (click)="scroll('contact')">
        <span>{{ 'app.HEADER.CONTACT' | translate }}</span>
      </button>

      <div #indicator class="mobile-indicator"></div>
    </div>
  </div>
</div>

<div class="drawer-overlay" *ngIf="isOpen" (click)="toggleMenu()"></div>