<div class="contact-container">
  <h1>Contact</h1>
  <hr />
  <div class="contact-content">
    <app-contact-card></app-contact-card>
    <div class="socialLinks-container">
      <div class="socialLinks">
        <h2>Or visit any of my social networks: </h2>
        <div>
          <a href="https://www.linkedin.com/in/lorenzo-pachioli/" target="_blank" rel="noopener noreferrer"><img
              src="../../../assets/svg/linkedin.svg" alt="" /></a>
          <a href="https://github.com/lorenzo-pachioli" target="_blank" rel="noopener noreferrer"><img
              src="../../../assets/svg/github.svg" alt="" /></a>
        </div>
      </div>
      <div class="socialLinks">
        <h2>Download my cv: </h2>
        <div>
          <a href="{{linkCv}}" target="_blank" rel="noopener noreferrer"><mat-icon
              color="accent">attach_file</mat-icon></a>
        </div>
      </div>
    </div>
  </div>