@use '../../../mixins' as *;

.skills-container {
  @include flex(flex, center, center, column);
  width: 90%;
  height: fit-content;
  border: 2px solid var(--color5);
  padding: 40px;
  box-sizing: border-box;
  background-color: transparent;
  margin: 15px 0 5px 0;
  box-shadow:
    inset 0 0 0.5em 0 var(--color5),
    inset 0 0 0.1em var(--color2),
    0 0 0.5em 0 var(--color5),
    0 0 0.1em var(--color2);

  h1 {
    font-size: 50px;
    color: var(--color1);
    margin: 0;
  }
}

.skill-card {
  @include flex(flex, center, center, column);
  width: 90px;
  height: 90px;
  padding: 10px;
  gap: 10px;
  transition: all 0.2s ease-in-out;

  img {
    height: 40px;
  }

  p {
    margin: 0;
  }
}

.skill-card:hover {
  transform: translateY(20px);
  box-shadow:
    inset 0 0 0.3em 0 var(--color5),
    inset 0 0 0.2em var(--color2),
    0 0.3em 0.7em 0 var(--color5),
    0 0 0.2em var(--color2);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.list {
  @include flex(flex, center, center, row);
  width: 70%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .skills-container {
    @include flex(flex, center, center, column);
    width: 95%;
    min-height: 80vh;
    padding: 20px;

    h1 {
      font-size: 50px;
      color: var(--color1);
      margin: 0;
    }

    hr {
      width: 70%;
      margin: 20px;
    }
  }

  .skill-card {
    @include flex(flex, center, center, column);
    width: 70px;
    height: 70px;
    padding: 10px;
    gap: 5px;

    img {
      height: 30px;
    }
  }

  .skill-card:hover {
    transform: translateY(0px);
  }

  .list {
    width: 95%;
    height: 100%;
  }
}