@use '../../../mixins' as *;

.cardList-container {
    @include flex(flex, center, flex-start, column);
    width: 100%;

    ul {
        @include flex(flex, center, center, row);
        flex-wrap: wrap;
        width: 100%;
        min-height: 70%;
        list-style: none;
        padding: 0;
        gap: 10px;
    }

    h1 {
        color: var(--color5);
        border: var(--border5);
        border-radius: var(--radius1);
        padding: 20px;
    }
}

.spinner::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--color5);
    color: var(--color5);
}

.spinner {
    @include flex(flex, center, center, column);
    color: var(--color5);
}