@use '../mixins' as *;

.main-content-wrapper {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}


#smooth-wrapper {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent !important;
}

#smooth-content {
  position: relative;
  overflow: visible;
  width: 100%;
  will-change: transform;
  z-index: 100;
  background: transparent !important;
}

app-background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  pointer-events: none;
}

.app {
  @include flex(flex, center, flex-start, column);
  min-width: 300px;
  max-width: var(--max-width);
  position: relative;
  margin: 0 auto;
  background: transparent !important;
  overflow: hidden;

  app-home {
    @include flex(flex, center, flex-start, column);
    width: 100%;
    max-width: 100vw;
    min-height: 110vh;
    max-height: 1400px;
    padding-top: 70px;
    z-index: 1000;
    transform: translateZ(0);
    backface-visibility: hidden;
    background: transparent !important;
  }

  app-skills {
    @include flex(flex, center, center, column);
    width: 100%;
    max-width: 100vw;
    min-height: 110vh;
    max-height: 1400px;
    z-index: 1000;
    transform: translateZ(0);
    backface-visibility: hidden;
    margin-top: 150px;
  }

  app-portfolio {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 110vh;
    z-index: 1000;
    transform: translateZ(0);
    backface-visibility: hidden;
    margin-top: 250px;
    padding: 110px 40px 40px 40px;
  }

  app-about-me {
    @include flex(flex, center, center, column);
    width: 100%;
    max-width: 100vw;
    min-height: 110vh;
    max-height: 1400px;
    margin-top: 10vh;
    z-index: 1000;
    transform: translateZ(0);
    backface-visibility: hidden;
    margin-top: 250px;
  }

  app-contact {
    @include flex(flex, center, center, column);
    width: 100%;
    max-width: 100vw;
    min-height: 110vh;
    max-height: 1400px;
    z-index: 1000;
    transform: translateZ(0);
    backface-visibility: hidden;
    margin-top: 100px;
  }
}

app-footer {
  @include flex(flex, center, center, column);
  width: 100%;
  max-width: 100vw;
  z-index: 1000;
  margin-top: 5vh;
}

.scroll-to-top {
  @include flex(flex, center, center, column);
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 2000;
  text-decoration: none;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid var(--color5);
  box-shadow:
    inset 0 0 0.5em 0 var(--color5),
    inset 0 0 0.1em var(--color2),
    0 0 0.5em 0 var(--color5),
    0 0 0.1em var(--color2);
  color: var(--color3);
  transition: all 0.3s ease-in-out;
  will-change: transform, box-shadow;
  transform: translateZ(0);
}

.scroll-to-top:hover {
  filter: brightness(100%);
  transition: all 0.3s ease-in-out;
  box-shadow:
    inset 0 0 0.7em 0 var(--color5),
    inset 0 0 0.2em var(--color2),
    0 0 0.7em 0 var(--color5),
    0 0 0.2em var(--color2);
  color: var(--color5);
  text-shadow: 0 0 0.05em var(--color2), 0 0 0.3em var(--color5);
  transform: translateY(-2px) translateZ(0);
}

.scroll-to-top:active {
  transform: translateY(0) translateZ(0);
}

@media screen and (max-width: 900px) {
  .app {
    @include flex(flex, center, flex-start, column);
    min-width: 300px;
    max-width: var(--max-width-mobile);
    overflow: hidden;

    app-home {
      width: 100%;
      padding-top: 70px;
      max-width: var(--max-width-mobile);
      max-height: none;
    }

    app-skills {
      width: 100%;
      max-width: var(--max-width-mobile);
      max-height: none;
    }

    app-portfolio {
      width: 100%;
      margin-top: 5vh;
      max-width: var(--max-width-mobile);
      max-height: none;
    }

    app-about-me {
      width: 100%;
      margin-top: 5vh;
      max-width: var(--max-width-mobile);
      max-height: none;
    }

    app-contact {
      width: 100%;
      max-width: var(--max-width-mobile);
      max-height: none;
    }

    app-footer {
      width: 100%;
      max-width: var(--max-width-mobile);
      max-height: none;
    }

    .scroll-to-top {
      bottom: 20px;
      right: 15px;
    }
  }
}

app-header,
app-social-side-nav {
  z-index: 2000;
  position: relative;
}