@import '../mixins';

.app {
  @include flex(flex, center, flex-start, column);
  min-width: 300px;

  app-home {
    @include flex(flex, center, flex-start, column);
    width: 100%;
    min-height: 110vh;
    padding-top: 70px;
    background: rgb(26, 25, 29);
    background: linear-gradient(0deg, rgba(26, 25, 29, 1) 20%, rgba(88, 23, 45, 0.5) 100%);
  }

  app-skills {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 110vh;
  }

  app-portfolio {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 110vh;
    margin-top: 10vh;
  }

  app-about-me {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 110vh;
  }

  app-contact {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 110vh;
    background: rgb(26, 25, 29);
    background: linear-gradient(180deg, rgba(26, 25, 29, 1) 0%, rgba(88, 23, 45, 0.5) 100%);
  }

  app-footer {
    width: 100%;
  }
}