@import '../mixins';

.app {
  @include flex(flex, center, flex-start, column);
  min-width: 300px;
  max-width: var(--max-width);

  app-home {
    @include flex(flex, center, flex-start, column);
    width: 100%;
    min-height: 700px;
    max-height: 1100px;
    padding-top: 70px;
  }

  app-skills {
    @include flex(flex, center, center, column);
    width: 100%;
    height: 110vh;
    max-height: 1000px;
  }

  app-portfolio {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 700px;
    max-height: 1500px;
    margin-top: 10vh;
  }

  app-about-me {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 700px;
    max-height: 1100px;
    margin-top: 10vh;
  }

  app-contact {
    @include flex(flex, center, center, column);
    width: 100%;
    min-height: 700px;
    max-height: 1100px;
  }

  app-footer {
    width: 100%;
  }

  .scroll-to-top {
    @include flex(flex, center, center, column);
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
    border: 2px solid var(--color5);
    box-shadow:
      inset 0 0 0.5em 0 var(--color5),
      inset 0 0 0.1em var(--color2),
      0 0 0.5em 0 var(--color5),
      0 0 0.1em var(--color2);
    color: var(--color3);
    transition: all 0.3s ease-in-out;
  }

  .scroll-to-top:hover {
    filter: brightness(100%);
    transition: all 0.3s ease-in-out;
    box-shadow:
    inset 0 0 0.7em 0 var(--color5),
    inset 0 0 0.2em var(--color2),
    0 0 0.7em 0 var(--color5),
    0 0 0.2em var(--color2);
    color: var(--color5);
    text-shadow: 0 0 0.05em var(--color2), 0 0 0.3em var(--color5);
    transition: all 0.3s ease-in-out;
  }
}