<div class="app" >
  <app-header></app-header>
  <app-home appIsVisible (visibilityChange)="onFocus('home', $event)"></app-home>
  <app-skills appIsVisible (visibilityChange)="onFocus('skills', $event)"></app-skills>
  <app-portfolio appIsVisible (visibilityChange)="onFocus('portfolio', $event)"></app-portfolio>
  <app-about-me appIsVisible (visibilityChange)="onFocus('about', $event)"></app-about-me>
  <app-contact appIsVisible (visibilityChange)="onFocus('contact', $event)"></app-contact>
  <app-footer></app-footer>
</div>

