<div class="app" >
  <app-header appIsVisible (visibilityChange)="onFocus('header', $event)"></app-header>
  <app-social-side-nav></app-social-side-nav>
  <button class="scroll-to-top" mat-fab color="accent" (click)="scrollToTop()" *ngIf="showScrollToTop">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <app-home appIsVisible (visibilityChange)="onFocus('home', $event)"></app-home>
  <app-skills appIsVisible (visibilityChange)="onFocus('skills', $event)"></app-skills>
  <app-portfolio appIsVisible (visibilityChange)="onFocus('portfolio', $event)"></app-portfolio>
  <app-about-me appIsVisible (visibilityChange)="onFocus('about', $event)"></app-about-me>
  <app-contact appIsVisible (visibilityChange)="onFocus('contact', $event)"></app-contact>
</div>
<app-footer></app-footer>

