<div class="header-molecule desktop-menu">
  <span>|</span>
  <button #homeBtn class="menu-btn" selected (click)="scroll('home')">
    <span translate="app.HEADER.HOME"></span>
  </button>
  <span>|</span>
  <button #skillsBtn class="menu-btn" (click)="scroll('skills')">
    <span translate="app.HEADER.SKILLS"></span>
  </button>
  <span>|</span>
  <button #portfolioBtn class="menu-btn" (click)="scroll('portfolio')">
    <span translate="app.HEADER.PORTFOLIO"></span>
  </button>
  <span>|</span>
  <button #aboutBtn class="menu-btn" (click)="scroll('about')">
    <span translate="app.HEADER.ABOUT-ME"></span>
  </button>
  <span>|</span>
  <button #contactBtn class="menu-btn" (click)="scroll('contact')">
    <span translate="app.HEADER.CONTACT"></span>
  </button>
  <span>|</span>

  <div class="scroll-indicator">
    <div #indicator class="indicator-line"></div>
  </div>
</div>