<div class="toolbar">
  <mat-toolbar color="accent">
    <div class="header-molecule">
      <mat-icon color="primary">code</mat-icon>
      <span>PACHIOLI<span class="dot">.</span></span>
    </div>
    <app-desktop-menu></app-desktop-menu>
    <button class="cv-btn">
      <a href="https://drive.google.com/file/d/1xm9YBRHa6eTvbxPzEnwawtW7XjpWDcL9/view?usp=sharing" target="_blank" rel="noopener noreferrer"> Download CV </a>
    </button>
    <app-mobile-menu></app-mobile-menu>
 </mat-toolbar>
</div>
