.toolbar {
  width: 100vw;

  .mat-toolbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(12px);
    z-index: 100;
  }

  .header-molecule {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    button {
      background-color: transparent;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }
  }

  .menu-mobile {
    display: none;

    button {
      display: block;
    }
  }


  .dot {
    color: var(--color5);
    font-size: 30px;
    font-weight: 600;
  }

}

@media screen and (max-width: 900px) {
  .toolbar {
    .desktop-menu {
      display: none;
    }

    .menu-mobile {
      display: block;

      button {
        display: block;
      }
    }

  }
}