@use '../../../mixins' as *;

.toolbar {
  @include flex(flex, center, center);
  position: fixed;
  left: 0;
  z-index: 2000;
  width: 100vw;

  mat-icon {
    text-shadow: 0 0 0.07em var(--color2), 0 0 0.4em var(--color5);
  }

  mat-toolbar {
    @include flex(flex, center, space-between);
    box-sizing: border-box;
    background-color: transparent;
    backdrop-filter: blur(12px);
    max-width: var(--max-width);
  }

  .header-molecule {
    @include flex(flex, flex-end, flex-start, row);
    gap: 10px;
    max-width: 1600px;

    button {
      background-color: transparent;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }
  }

  app-mobile-menu {
    display: none;
  }


  .dot {
    color: var(--color5);
    font-size: 30px;
    font-weight: 600;
    height: fit-content;
  }

  .cv-btn {
    text-decoration: none;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
    border: none;
    border-bottom: 2px solid var(--color5);
    /* border-radius: 4px; */

    a {
      text-decoration: none;
      color: var(--color5);
    }
  }

  .cv-btn:hover {
    filter: brightness(1.2);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 2px -2px var(--color5);
    text-shadow: 0 0 0.05em var(--color2), 0 0 0.3em var(--color5);

  }

  .extra-selector {
    @include flex(flex, center, center);
    gap: 20px;
  }

}



@media screen and (max-width: 900px) {
  .toolbar {
    app-desktop-menu {
      display: none;
    }

    app-mobile-menu {
      display: block;
    }

    .extra-selector {
      @include flex(flex, center, flex-end);
      gap: 5px;
    }
  }
}


@media screen and (max-width: 450px) {

  .header-molecule {
    span {
      display: none;
    }
  }
}