<div class="toolbar">
  <mat-toolbar color="accent">
    <div class="header-molecule">
      <mat-icon color="primary">code</mat-icon>
      <span>PACHIOLI<span class="dot">.</span></span>
    </div>
    <app-desktop-menu></app-desktop-menu>
    <div class="extra-selector">
      <button class="cv-btn">
        <a href="{{linkCv}}" target="_blank" rel="noopener noreferrer" translate="app.HEADER.DOWNLOAD"> </a>
      </button>
      <app-language-selector></app-language-selector>
    </div>
    <app-mobile-menu></app-mobile-menu>
  </mat-toolbar>
</div>