<div class="toolbar">
  <mat-toolbar color="accent">
    <div class="header-molecule">
      <mat-icon color="primary">code</mat-icon>
      <span>PACHIOLI<span class="dot">.</span></span>
    </div>
    <div class="header-molecule desktop-menu">
      <span>|</span>
      <button mat-button color="primary" selected (click)="scroll('home')" [ngStyle]="{'border-bottom': this.visible.home ? '2px solid var(--color5)':''}">
        <span>Home</span>
      </button>
      <span>|</span>
      <button mat-button color="primary" (click)="scroll('skills')" [ngStyle]="{'border-bottom': this.visible.skills ? '2px solid var(--color5)':''}">
        <span>Skills</span>
      </button>
      <span>|</span>
      <button mat-button color="primary" (click)="scroll('portfolio')" [ngStyle]="{'border-bottom': this.visible.portfolio ? '2px solid var(--color5)':''}">
        <span>Portfolio</span>
      </button>
      <span>|</span>
      <button mat-button color="primary" (click)="scroll('about')" [ngStyle]="{'border-bottom': this.visible.about ? '2px solid var(--color5)':''}">
        <span>About me</span>
      </button>
      <span>|</span>
      <button mat-button color="primary" (click)="scroll('contact')" [ngStyle]="{'border-bottom': this.visible.contact ? '2px solid var(--color5)':''}">
        <span>Contact</span>
      </button>
      <span>|</span>
    </div>
    <button mat-icon-button class="menu-mobile" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu-mobile">
      <button mat-menu-item color="primary" selected (click)="scroll('home')" [ngStyle]="{'background-color': this.visible.home ? 'var(--color5)':''}">
        <span>Home</span>
      </button>
      <button mat-menu-item color="primary" (click)="scroll('skills')" [ngStyle]="{'background-color': this.visible.skills ? 'var(--color5)':''}">
        <span>Skills</span>
      </button>
      <button mat-menu-item color="primary" (click)="scroll('portfolio')" [ngStyle]="{'background-color': this.visible.portfolio ? 'var(--color5)':''}">
        <span>Portfolio</span>
      </button>
      <button mat-menu-item color="primary" (click)="scroll('about')" [ngStyle]="{'background-color': this.visible.about ? 'var(--color5)':''}">
        <span>About me</span>
      </button>
      <button mat-menu-item color="primary" (click)="scroll('contact')" [ngStyle]="{'background-color': this.visible.contact ? 'var(--color5)':''}">
        <span>Contact</span>
      </button>
    </mat-menu>
 </mat-toolbar>
</div>
