@use '../../../mixins' as *;

.portfolio-container {
  @include flex(flex, center, flex-start, column);
  width: 90%;
  gap: 40px;
  /* margin: 15vh 0; */

  h2 {
    font-size: 50px;
    color: var(--color1);
    margin: 0;
  }
}

.portfolio-content {
  @include flex(flex, flex-start, center, row);
  min-width: 100%;
  overflow: hidden;

  app-portfolio-grid {
    min-width: 100%;
    transition: all 1s ease-in-out;
    transform-origin: right top;
  }

  app-project-info {
    min-width: 100%;
    transition: all 1s ease-in-out;
    transform-origin: left;
  }
}

@media screen and (max-width: 900px) {
  .portfolio-container {
    width: 95%;
    gap: 20px;
    height: fit-content;
  }

}