<section class="portfolio-container">
  <h2 id="portfolio" translate="app.HEADER.PORTFOLIO"></h2>
  <hr />
  <div class="portfolio-content">
    <app-project-info [(project)]="project" [(showProject)]="showProject"
      [ngStyle]="{'transform': showProject ? 'translate(50%)':'translate(-100%)'}"></app-project-info>
    <app-portfolio-grid [(project)]="project" [(showProject)]="showProject"
      [ngStyle]="{'transform': !showProject ? 'translate(-50%)':'translate(100%)', 'height': !showProject ? '100%':'0px'}"></app-portfolio-grid>
  </div>
</section>