<mat-card class="project-info-container" *ngIf="project">
  <mat-card-title>{{project.title}}</mat-card-title>

  <div class="image-container">
    <img [src]="project.image" alt="" />
  </div>
  
  <mat-card-content>
    <div class="description">
      {{project.description}}
    </div>
    <div class="links">
      <button mat-raised-button color="primary" (click)="back()">Back</button>
      <a [href]="project.github" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="primary">Github</button></a>
      <a [href]="project.deployed" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="primary">Deployed</button></a>
    </div>
  </mat-card-content>
</mat-card>

