@import '../../../mixins';

.contact-card-container {
  @include flex(flex, flex-start, flex-start, column);
  width: 300px;
  background-color: var(--color4);
  padding-top: 0;
}

.title {
  color: var(--color1);
}

.form {
  width: 100%;
}

.message {
  width: 100%;
  min-height: 100px;
}

.mat-form-field {
  width: 100%;
}

.label {
  color: var(--color5);
}

.buttons {
  @include flex(flex, center, space-around);
  width: 100%;
  margin-top: 20px;

  button {
    @include flex(flex, center, center);
    height: 40px;
    width: 100%;
    border-radius: 2px;
  }

  button:active {
    background-color: var(--color4);
    color: white;
  }

  p {
    margin: 0;
  }
}

.date-picker {
  color: var(--color4);
}

.spinner::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--color4);
  color: var(--color4);
}

.mat-card-header {
  width: 100%;
  padding: 0;

  p {
    width: 100%;
    text-align: right;
    color: var(--color2);
    margin: 0;
    font-size: 10px;
  }

}

.mat-card-footer {
  width: 100%;
  min-height: 16px;


  .success {
    @include flex(flex, center, flex-end);
    width: 100%;
    color: var(--color5);
    margin: 0;
  }
}