@use '../../../mixins' as *;

.contact-card-container {
  @include flex(flex, flex-start, flex-start, column);
  width: 600px;
  max-width: 100%;
  background-color: var(--color4);
  padding: 15px;
  box-sizing: border-box;
}

.title {
  color: var(--color1);
}

.form {
  @include flex(flex, center, center, column);
  width: 100%;

  p {
    width: 100%;
    text-align: left;
  }

  .mat-mdc-form-field-hint-end {
    color: var(--color2);
  }
}

.message {
  width: 100%;
  min-height: 100px;
}

.mat-mdc-form-field {
  width: 100%;
}

.label {
  color: var(--color5);
}

.buttons {
  @include flex(flex, center, space-around);
  width: 100%;
  margin-top: 20px;

  button {
    @include flex(flex, center, center);
    height: 40px;
    width: 100%;
    border-radius: 2px;
  }

  button:active {
    background-color: var(--color4);
    color: white;
  }

  p {
    margin: 0;
  }
}

.date-picker {
  color: var(--color4);
}

.spinner::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--color4);
  color: var(--color4);
}

.mat-mdc-card-header {
  width: 100%;
  padding: 0;

  p {
    width: 100%;
    text-align: right;
    color: var(--color2);
    margin: 0;
    font-size: 12px;
  }
}

.mat-mdc-card-content {
  width: 100%;
  text-align: left;
  padding: 16px 0;
}

.mat-mdc-card-footer {
  width: 100%;
  min-height: 16px;



}

.success {
  @include flex(flex, center, flex-end);
  width: 100%;
  color: var(--green);
  margin: 0;
}



@media screen and (max-width: 900px) {
  .contact-card-container {
    @include flex(flex, flex-start, flex-start, column);
    width: 100%;
    padding: 15px;
  }
}