@use '@angular/material' as mat;

@include mat.core();

$black: #1A191D;
$white: #ECE5DF;

$bv-brand: (
  50: $white,
  100: #D1CCC8,
  200: #B6B3B1,
  300: #808082,
  400: #131A24,
  500: #131A24,
  600: #131A24,
  700: #131A24,
  800: #131A24,
  900: #131A24,
  contrast: (50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  )
);


$portfolioAngular-primary: mat.m2-define-palette(mat.$m2-pink-palette);
$portfolioAngular-accent: mat.m2-define-palette($bv-brand);
$portfolioAngular-warn: mat.m2-define-palette(mat.$m2-red-palette);

$portfolioAngular-theme: mat.m2-define-dark-theme((color: (primary: $portfolioAngular-primary,
        accent: $portfolioAngular-accent,
        warn: $portfolioAngular-warn)));


@include mat.all-component-themes($portfolioAngular-theme);

html,
body {
  min-height: 100%;
  margin: 0;
  background: #1A191D; // Color sólido de fallback
  color: $white;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100%;
  background: transparent !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff4081;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B6B3B1;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #333333;
  border: 0px none #ff4081;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(88, 23, 45, 1) 0%,
      rgba(26, 25, 29, 1) 18%,
      rgba(26, 25, 29, 1) 65%,
      rgba(88, 23, 45, 1) 100%);
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;

}

:root {
  --color1: #ECE5DF;
  --color2: #B6B3B1;
  --color3: #808082;
  --color4: #131A24;
  --color5: #FF4081;
  --max-width: 1400px;
  --max-width-mobile: 97vw;
  --black: $black;
  --green: #198754;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  box-sizing: border-box;
  max-width: 100%;

  hr {
    width: 70%;
    height: 1px;
    background-color: var(--color5);
    border: 0.5px solid var(--color5);
    margin: 40px;
    box-shadow:
      0 0 0.5em 0 var(--color5),
      0 0 0.1em var(--color2);
  }
}

@media screen and (max-width: 900px) {
  :root {
    button:hover {
      filter: none;
    }
  }
}